@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  background-color: #FB0505;
  color:white;
  text-align: center;
  
}

.card-container {
  border: 2px solid black;
  width: 450px;
  height: 550px;
}

.card {
  padding-left: 100px;
}

.footer-buttons {
display: inline-block;
}

.get-pokemon-button {
  padding: 10px;
  background-color: #FB0505;
  color: white;
  margin-top: 15px;
  border-radius: 14px;
  font-family: 'Permanent Marker', cursive;
  font-size: 19px;
}

.get-pokemon-button:hover {
  background-color: #F8CC09;
  color: #3857AA;
}

.prev-next-buttons {
  padding: 10px;
  background-color: #FB0505;
  color: white;
  margin-top: 15px;
  border-radius: 6px;
  font-family: 'Permanent Marker', cursive;
  font-size: 14px;
  margin: 20px;
}

.prev-next-buttons:hover {
  background-color: #F8CC09;
  color: #3857AA;
}